{{ define "top" }}
<h2>A LIVING ROOM</h2>
<h2 class="continued">CONCERT SERIES</h2>
{{ range first 1 (sort (where .Site.RegularPages "Type" "events") "Params.dateOfEvent" "desc") }}
{{ .Render "date" }}
{{ .Render "instruction" }}
{{ end }}
{{ end }}

{{ define "main" }}
<div class="row row--last">
  <div class="twelve columns">
    <a class="button button-secondary" href="https://ko-fi.com/onthegroundconcerts" target="_blank">Support the Artists</a>
  </div>
</div>
{{ range first 1 (sort (where .Site.RegularPages "Type" "events") "Params.dateOfEvent" "desc") }}
<div class="three columns">&nbsp;</div>
<div class="six columns white">
  {{ .Render }}
</div>
<div class="three column">&nbsp;</div>
{{ end }}
{{ end }}