{{ define "header" }}
<div class="row">
  <div class="twelve columns">
    {{ range first 1 (sort (where .Site.RegularPages "Type" "events") "Params.dateOfEvent" "desc") }}
    {{ .Render "instruction" }}
    {{ end }}
    <a class="button button-secondary" href="https://ko-fi.com/onthegroundconcerts">Support the Artists</a>
  </div>
</div>
{{ end }}

{{ define "main" }}
{{ range first 1 (sort (where .Site.RegularPages "Type" "events") "Params.dateOfEvent" "desc") }}
<div class="three columns">&nbsp;</div>
<div class="six columns white">
  {{ .Render }}
</div>
<div class="three column">&nbsp;</div>
{{ end }}
{{ end }}