body {
  background-color: #dba6b6;
  color: white;
}

h1, h2, h3 {
    font-weight: bold;
}

ul {
    font-size: large;
}

ul li {
    list-style-type: none;
    margin-left: 1rem;
    font-weight: bold;
}

a {
    color: #9b6d95;
}

a:hover {
    color: white;
}

.row {
    margin-top: 10%;
}

.row--major {
    margin-top: 25%;
}

.center {
    text-align: center;
}

.information {
    font-size: xx-large;
    font-weight: bold;
}

.continued {
    margin-top: -2rem;
}

.white {
    background-color: white;
    color: #dba6b6;
    padding: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.purple {
    background-color: #dba6b6;
    color: #9b6d95;
    padding: 1rem;
}

.button.button-primary {
    background-color: #4574a8;
    border-color: #4574a8;
}

.button.button-secondary {
    background-color: #ff6134;
    border-color: #ff6134;
}

.button.button-secondary:hover {
    background-color: #ff9678;
    border-color: #ff9678;
}